# Virtual Environment
venv/

# Environment variables (secrets)
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/